:root {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    --azul-padrao: #3C6AA6;
    --rosa-padrao: #9941BF;
    --branco-padrao: #fafafa;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/static/Oswald-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
}

#interface {
    display: block;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--branco-padrao);
}

#interface header.cabecalho {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../imagens/hero-bg.png);
    background-size: cover;
    color: var(--branco-padrao);
}

#interface .cabecalho .menu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
}

#interface .cabecalho .menu .logo {
    display: block;
    width: 150px;
}

#interface .cabecalho .menu .logo img {
    display: block;
    width: 100%;
}

#interface .cabecalho .menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#interface .cabecalho .menu ul li {
    display: block;
    margin: 0 1rem;
}

#interface .cabecalho .menu ul li a {
    display: block;
    font-family: Oswald;
    color: var(--branco-padrao) ;
    font-size: 2rem;
    padding: .5rem 1rem;
    text-decoration: none;
}

#interface .cabecalho .menu ul li a::after {
    display: block;
    content: '';
    width: 0;
    height: 4px;
    background-color: var(--rosa-padrao);
    border-radius: 1px;
    margin-top: .5rem;
    transition: width .2s ease;
}

#interface .cabecalho .menu ul li:hover a::after {
    width: 100%;
}

#interface .cabecalho .titles {
    flex-grow: 1; /* REFERE-SE AO FLEX DO CABECALHO */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

#interface .cabecalho .titles .container-titles {
    width: 60%;
    margin: 0 0 0 auto;
}

#interface .cabecalho .titles .container-titles h1 {
    font-family: Montserrat;
}

#interface .cabecalho .titles .container-titles h1.titulo {
    font-size: 2.5rem;
}

#interface .cabecalho .titles .container-titles h1.subtitulo {
    color: var(--rosa-padrao);
    text-shadow: 0 0 20px rgba(255,255,255,.3);
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

#interface .cabecalho .titles .container-titles p.paragrafo {
    letter-spacing: 2px;
    line-height: 1.5;
    font-style: italic;
}

#interface .cabecalho .titles .socialIcons {
    width: 60%;
    margin: 2rem 0 0 auto;
}

#interface .cabecalho .titles .socialIcons a {
    /* color: #3C6AA6; */
    color: var(--rosa-padrao);
    padding: .5rem;
    font-size: 1.5rem;
}

/* ======================================================= */

#interface #corpo {
    display: block;
    width: 100%;
}

/* ======================================================= */

#interface #corpo .servicos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding-top: 10rem;
}

#interface #corpo .servicos article {
    display: block;
    width: 30%;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    border-radius: .5rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

#interface #corpo .servicos article img {
    display: block;
    width: 35%;
    margin: 0 auto 2rem auto;
}

#interface #corpo .servicos article h3 {
    display: block;
    text-align: center;
    font-family: Roboto;
    color: var(--azul-padrao);
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#interface #corpo .servicos article p {
    display: block;
    text-align: center;
    color: #666;
    line-height: 1.5;
}

/* ======================================================= */
#interface #corpo .portifolio {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding-top: 10rem;
}

#interface #corpo .portifolio .title-portifolio {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    font-family: Roboto;
    color: var(--azul-padrao);
    margin-bottom: 1rem;
}

#interface #corpo .portifolio .sub-title {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #A66B49;
}

#interface #corpo .portifolio .container-imagens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}

#interface #corpo .portifolio .container-imagens .img {
    width: 30%;
    height: 180px;
    margin-top: 1.5rem;
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0,0,0,.4);
    background-size: 100%;
    background-position: center center;
    transition: all .2s ease;
}

#interface #corpo .portifolio .container-imagens .img:hover {
    background-size: 120%;
}